node_modules/
dist/
/.env
/.env.*
tmp-npm-cache/
.DS_Store
/.vite
/.idea
*.lognode_modules/
/server/node_modules/
.env
dist/
/.vite
/.tmp
*.log
npm-debug.log*
.DS_Store
/.parcel-cache
coverage/
/.idea/
/.vscode/
/.cache/
.vercel
